<?xml version="1.0"?>
<robot name="myrobot">
<link name="base_link">
</link>
<link name="nhwy-H0F7">
</link>
<joint name="nhwy-H0F7" type="fixed" >
  <parent link="base_link"/>
  <child  link="nhwy-H0F7"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="nhwy-RI87">
</link>
<joint name="nhwy-RI87" type="fixed" >
  <parent link="base_link"/>
  <child  link="nhwy-RI87"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="nhwy-MAIo">
</link>
<joint name="nhwy-MAIo" type="fixed" >
  <parent link="base_link"/>
  <child  link="nhwy-MAIo"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="nhwy-WrSn">
</link>
<joint name="nhwy-WrSn" type="fixed" >
  <parent link="base_link"/>
  <child  link="nhwy-WrSn"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="nhwy-jCRF">
</link>
<joint name="nhwy-jCRF" type="fixed" >
  <parent link="base_link"/>
  <child  link="nhwy-jCRF"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="nhwy-74ia">
</link>
<joint name="nhwy-74ia" type="fixed" >
  <parent link="base_link"/>
  <child  link="nhwy-74ia"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="VTnI-RC8E">
</link>
<joint name="VTnI-RC8E" type="fixed" >
  <parent link="base_link"/>
  <child  link="VTnI-RC8E"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="VTnI-jzxy">
</link>
<joint name="VTnI-jzxy" type="fixed" >
  <parent link="base_link"/>
  <child  link="VTnI-jzxy"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="VTnI-x0PN">
</link>
<joint name="VTnI-x0PN" type="fixed" >
  <parent link="base_link"/>
  <child  link="VTnI-x0PN"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="VTnI-pd6Y">
</link>
<joint name="VTnI-pd6Y" type="fixed" >
  <parent link="base_link"/>
  <child  link="VTnI-pd6Y"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="GrLO-Rxc8">
</link>
<joint name="GrLO-Rxc8" type="fixed" >
  <parent link="base_link"/>
  <child  link="GrLO-Rxc8"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="3SkZ-u6B8">
</link>
<joint name="3SkZ-u6B8" type="fixed" >
  <parent link="base_link"/>
  <child  link="3SkZ-u6B8"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="ZwYW-gMgJ">
</link>
<joint name="ZwYW-gMgJ" type="fixed" >
  <parent link="base_link"/>
  <child  link="ZwYW-gMgJ"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="TTwL-mYT5">
</link>
<joint name="TTwL-mYT5" type="fixed" >
  <parent link="base_link"/>
  <child  link="TTwL-mYT5"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="TTwL-F6ep">
</link>
<joint name="TTwL-F6ep" type="fixed" >
  <parent link="base_link"/>
  <child  link="TTwL-F6ep"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="TTwL-qPc0">
</link>
<joint name="TTwL-qPc0" type="fixed" >
  <parent link="base_link"/>
  <child  link="TTwL-qPc0"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="pY2k-jqU4">
</link>
<joint name="pY2k-jqU4" type="fixed" >
  <parent link="base_link"/>
  <child  link="pY2k-jqU4"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="pY2k-S9r7">
</link>
<joint name="pY2k-S9r7" type="fixed" >
  <parent link="base_link"/>
  <child  link="pY2k-S9r7"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="pY2k-05qp">
</link>
<joint name="pY2k-05qp" type="fixed" >
  <parent link="base_link"/>
  <child  link="pY2k-05qp"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="pY2k-TRZQ">
</link>
<joint name="pY2k-TRZQ" type="fixed" >
  <parent link="base_link"/>
  <child  link="pY2k-TRZQ"/>
  <origin xyz="  0 0 0  " rpy="  0 0 0  " />
</joint>
<link name="RZ2F-RZbG">
</link>
<joint name="RZ2F-RZbG" type="fixed" >
  <parent link="base_link"/>
  <child  link="RZ2F-RZbG"/>
  <origin xyz="  0.159702 0.0979996 0.142  " rpy="  0 0 3.14159  " />
</joint>
</robot>